{% extends 'admin/base.html' %}

{% block access_control %}
    <div class="navbar-btn btn-group pull-right">
      {% if current_user.is_anonymous %}
        <a class="btn btn-default" href="/login">Login</a>
      {% else %}
        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="glyphicon glyphicon-user"></i>&nbsp;<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li class="dropdown-header">{{ current_user.email }}</li>
          <li class="divider">{{ current_user.email }}</li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      {% endif %}
    </div>
{% endblock %}
